{{- $url := .Destination -}}
{{- $text := .Text -}}
{{- $title := .Title -}}

{{- /* Only rewrite README.md links */ -}}
{{- if or (strings.Contains $url "README.md") (strings.HasSuffix $url "README.md") -}}
  {{- /* ../../README.md -> /docs/readme/ (root README) */ -}}
  {{- if hasPrefix $url "../../README.md" -}}
    {{- $url = "/docs/readme/" -}}
    {{- if strings.Contains .Destination "#" -}}
      {{- $anchor := index (split .Destination "#") 1 -}}
      {{- $url = printf "/docs/readme/#%s" (lower $anchor) -}}
    {{- end -}}
  {{- /* ./README.md or README.md -> same directory readme */ -}}
  {{- else if or (hasPrefix $url "./README.md") (eq $url "README.md") -}}
    {{- /* Get parent directory from current page path */ -}}
    {{- $pagePath := .Page.File.Dir -}}
    {{- $url = printf "/docs/%sreadme/" $pagePath -}}
  {{- end -}}
{{- end -}}

<a href="{{ $url | safeURL }}"{{- with $title }} title="{{ . }}"{{ end -}}>{{ $text | safeHTML }}</a>