apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

# Start with the base configuration
bases:
- ../../base

resources:
- extensions.yaml
- ../../extensions-rbac.generated.yaml
- ../../crds/extensions.agents.x-k8s.io_sandboxclaims.yaml
- ../../crds/extensions.agents.x-k8s.io_sandboxtemplates.yaml
- ../../crds/extensions.agents.x-k8s.io_sandboxwarmpools.yaml

# Apply the patch to add the --extensions flag
patches:
- path: manager_patch.yaml
  target:
    kind: StatefulSet
    name: agent-sandbox-controller # Must match the name in controller.yaml